In [1]:
import pandas as pd
import sqlite3

import sys, os

import utils.mining_data_tb as md
import utils.sql_tb as sq

import warnings

warnings.filterwarnings("ignore")

# Database & Tables Creation

In [2]:
# Connection to database
connection = sqlite3.connect("health_canada.db")
# Extracting data from csv files
tables = md.data_to_tables("data/")
# Creating database and tables
sq.tables_to_sql(connection, tables)

# Database exploration

## JOIN

### 1. Foods in each food group 

Let's find out how many foods we have in each food group

In [3]:
query = """
SELECT fg.FoodGroupName as 'Food Group', COUNT(*) as 'Food Items'
FROM food_name fn
JOIN food_group fg
ON fn.FoodGroupId = fg.FoodGroupId
GROUP BY fg.FoodGroupId
ORDER BY COUNT(*) DESC;
"""

pd.read_sql_query(query, connection)

                           Food Group  Food Items
0   Vegetables and Vegetable Products         785
1                      Baked Products         441
2                    Poultry Products         418
3                 Lamb, Veal and Game         363
4             Fruits and fruit juices         328
5      Finfish and Shellfish Products         325
6                              Sweets         324
7           Soups, Sauces and Gravies         267
8                           Beverages         243
9              Dairy and Egg Products         241
10        Legumes and Legume Products         230
11                  Breakfast cereals         212
12                      Pork Products         209
13                         Fast Foods         174
14                      Beef Products         170
15          Cereals, Grains and Pasta         155
16        Sausages and Luncheon meats         149
17                      Fats and Oils         144
18                     Nuts and Seeds         139
19                       Mixed Dishes         123
20                          Babyfoods          94
21                             Snacks          93
22                   Spices and Herbs          63

### 2. Food items from each source

Let's see now what are the sources of this data and how many food items we are getting from those sources.

In [4]:
query = """
SELECT fs.FoodSourceDescription as 'Food Source', COUNT(*) as 'Food items'
FROM food_name as fn
JOIN food_source as fs
ON fn.FoodSourceId = fs.FoodSourceId
GROUP BY fn.FoodSourceId
ORDER BY COUNT(*) DESC;
"""

pd.read_sql_query(query, connection)

                                          Food Source  Food items
0           FOODS BASED ON DATA FROM USDA: NO CHANGES        3555
1        CNF Sampling and Analysis Program (SNAP-CAN)         658
2   FOOD BASED ON DATA FROM USDA: SOME NUTRIENTS A...         356
3   FOOD AVAILABLE IN THE CANADIAN FOOD SUPPLY, MA...         267
4                                    TRADITIONAL FOOD         212
5   FOOD BASED ON DATA FROM USDA: INFORMATION FROM...         139
6   FOOD AVAILABLE IN THE CANADIAN FOOD SUPPLY, BU...         123
7                              CNF RECIPE COMPILATION         112
8   FOOD BASED ON DATA FROM USDA: SOME NUTRIENTS C...         103
9   FOOD BASED ON DATA FROM USDA.  FOOD HAS BEEN D...          70
10  MAJOR NUTRIENTS CALCULATED IN THE CANADIAN PRO...          51
11  FOOD AVAILABLE IN THE CANADIAN FOOD SUPPLY, BU...          26
12  FOOD BASED ON DATA FROM USDA: SOME NUTRIENTS C...           7
13  FOOD BASED ON DATA FROM USDA: SOME VALUES SUPP...           7
14  FOOD BASED ON DATA FROM USDA: SOME NUTRIENT AN...           2
15  DATA SUPPLIED BY AN INTERNATIONAL DATABASE OTH...           1

## WHERE

### 3. Top food groups by nutrient

In this case, I want to see the food groups sorted by the amount of X nutrient.

In [5]:
# For this, I will first check out what nutrients we have and then choose a couple to find the top food groups for those nutrients
query = """
SELECT DISTINCT NutrientName
FROM nutrient_name
LIMIT 30;
"""

pd.read_sql_query(query, connection)

                           NutrientName
0                               PROTEIN
1                    FAT (TOTAL LIPIDS)
2   CARBOHYDRATE, TOTAL (BY DIFFERENCE)
3                            ASH, TOTAL
4                 ENERGY (KILOCALORIES)
5                                STARCH
6                               SUCROSE
7                               GLUCOSE
8                              FRUCTOSE
9                               LACTOSE
10                              MALTOSE
11                              ALCOHOL
12                          OXALIC ACID
13                             MOISTURE
14                             MANNITOL
15                             SORBITOL
16                             CAFFEINE
17                          THEOBROMINE
18                  ENERGY (KILOJOULES)
19                        SUGARS, TOTAL
20                            GALACTOSE
21                 FIBRE, TOTAL DIETARY
22                              CALCIUM
23                                 IRON
24                            MAGNESIUM
25                           PHOSPHORUS
26                            POTASSIUM
27                               SODIUM
28                                 ZINC
29                               COPPER

In order not to make this too long, let's try only 2: proteins and fats.

In [6]:
# Protein
query = """
SELECT fg.FoodGroupName as 'Food Group', AVG(na.NutrientValue) as 'Average Protein'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodId
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'PROTEIN'
GROUP BY fg.FoodGroupId
ORDER BY AVG(na.NutrientValue) DESC;
"""

pd.read_sql_query(query, connection)

                           Food Group  Average Protein
0                       Beef Products        25.417824
1                    Poultry Products        24.028780
2                 Lamb, Veal and Game        23.333636
3                       Pork Products        22.663206
4      Finfish and Shellfish Products        21.264154
5         Sausages and Luncheon meats        16.306242
6         Legumes and Legume Products        15.670478
7                      Nuts and Seeds        15.444892
8              Dairy and Egg Products        12.610830
9                          Fast Foods        11.182126
10                   Spices and Herbs        10.101905
11                             Snacks         9.438710
12          Cereals, Grains and Pasta         9.257613
13                  Breakfast cereals         8.781415
14                       Mixed Dishes         8.173902
15                     Baked Products         7.244898
16                          Babyfoods         5.822234
17          Soups, Sauces and Gravies         3.876517
18                             Sweets         3.769475
19                          Beverages         3.094650
20  Vegetables and Vegetable Products         2.971210
21            Fruits and fruit juices         0.898293
22                      Fats and Oils         0.503958

In [7]:
# Protein
query = """
SELECT fg.FoodGroupName as 'Food Group', AVG(na.NutrientValue) as 'Average Fat'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodId
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'FAT (TOTAL LIPIDS)'
GROUP BY fg.FoodGroupId
ORDER BY AVG(na.NutrientValue) DESC;
"""

pd.read_sql_query(query, connection)

                           Food Group  Average Fat
0                       Fats and Oils    67.187778
1                      Nuts and Seeds    39.038058
2                              Snacks    18.158710
3         Sausages and Luncheon meats    16.230671
4                       Pork Products    15.057703
5                 Lamb, Veal and Game    13.650661
6              Dairy and Egg Products    13.349295
7                          Fast Foods    12.445690
8                      Baked Products    11.809751
9                       Beef Products    11.506706
10                             Sweets    10.018889
11                   Poultry Products     9.598445
12                   Spices and Herbs     8.446508
13        Legumes and Legume Products     8.394957
14                       Mixed Dishes     7.656016
15     Finfish and Shellfish Products     5.842338
16                  Breakfast cereals     4.956509
17          Soups, Sauces and Gravies     3.959064
18                          Babyfoods     3.211702
19          Cereals, Grains and Pasta     2.469742
20                          Beverages     1.488971
21  Vegetables and Vegetable Products     1.127631
22            Fruits and fruit juices     0.548354

### 4. Foods in food group above a nutrient amount threshold

Let's find foods in a given food group that have an amount of a given nutrient above a given threshold.

We will just do one example of this.

In [8]:
# In this case, I want to find the less caloric nuts and seeds

query = """
SELECT fn.FoodDescription as 'Food', na.NutrientValue as 'Fat amount'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodID
AND na.NutrientId = nn.NutrientId
WHERE fg.FoodGroupName = 'Nuts and Seeds'
AND nn.NutrientName = 'FAT (TOTAL LIPIDS)'
ORDER BY na.NutrientValue
LIMIT 30;
"""

pd.read_sql_query(query, connection)

                                                 Food  Fat amount
0        Nuts, Japanese chestnuts, boiled and steamed        0.19
1           Nuts, coconut water (liquid from coconut)        0.20
2                       Nuts, Japanese chestnuts, raw        0.53
3                             Seeds, lotus seeds, raw        0.53
4         Nuts, Chinese chestnuts, boiled and steamed        0.76
5                   Nuts, Japanese chestnuts, roasted        0.80
6                      Seeds, breadnuttree seeds, raw        0.99
7                        Nuts, Chinese chestnuts, raw        1.11
8                    Nuts, Chinese chestnuts, roasted        1.19
9                     Nuts, Japanese chestnuts, dried        1.24
10      Nuts, European chestnuts (sweet), raw, peeled        1.25
11  Nuts, European chestnuts (sweet), boiled and s...        1.38
12                   Seeds, cottonseed flour, low fat        1.41
13    Seeds, sunflower seed flour, partially defatted        1.61
14                          Nuts, ginkgo nuts, canned        1.62
15                   Seeds, breadnuttree seeds, dried        1.68
16                             Nuts, ginkgo nuts, raw        1.68
17                       Seeds, sesame flour, low fat        1.75
18                     Nuts, Chinese chestnuts, dried        1.81
19                          Seeds, lotus seeds, dried        1.97
20                           Nuts, ginkgo nuts, dried        2.00
21          Nuts, European chestnuts (sweet), roasted        2.20
22    Nuts, European chestnuts (sweet), raw, unpeeled        2.26
23                    Seeds, breadfruit seeds, boiled        2.30
24     Seeds, safflower seed meal, partially defatted        2.39
25                   Seeds, breadfruit seeds, roasted        2.70
26    Nuts, European chestnuts (sweet), dried, peeled        3.91
27  Nuts, European chestnuts (sweet), dried, unpeeled        4.45
28          Seeds, sisymbrium sp. seeds, whole, dried        4.60
29         Seeds, cottonseed meal, partially defatted        4.77

## HAVING

### 5. Food groups with average nutrient above threshold

I want to find out which food groups have an average amount of a given nutrient above a given threshold.

In [9]:
# Let's see what food groups have more than 10g of protein in average

query = """
SELECT fg.FoodGroupName as 'Food group', AVG(na.NutrientValue) as 'Average nutrient amount'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodID
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'PROTEIN'
GROUP BY fg.FoodGroupId
HAVING AVG(na.NutrientValue) > 10
ORDER BY AVG(na.NutrientValue) DESC;
"""

pd.read_sql_query(query, connection)

                        Food group  Average nutrient amount
0                    Beef Products                25.417824
1                 Poultry Products                24.028780
2              Lamb, Veal and Game                23.333636
3                    Pork Products                22.663206
4   Finfish and Shellfish Products                21.264154
5      Sausages and Luncheon meats                16.306242
6      Legumes and Legume Products                15.670478
7                   Nuts and Seeds                15.444892
8           Dairy and Egg Products                12.610830
9                       Fast Foods                11.182126
10                Spices and Herbs                10.101905

In [10]:
# Let's do the same now, but with sugar and above 50mg
query = """
SELECT fg.FoodGroupName as 'Food group', AVG(na.NutrientValue) as 'Average nutrient amount'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodID
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'CHOLESTEROL'
GROUP BY fg.FoodGroupId
HAVING AVG(na.NutrientValue) > 50
ORDER BY AVG(na.NutrientValue) DESC;
"""

pd.read_sql_query(query, connection)

                       Food group  Average nutrient amount
0             Lamb, Veal and Game               163.412162
1                   Beef Products               140.394118
2                   Pork Products               115.831731
3                Poultry Products               110.950372
4          Dairy and Egg Products                98.066390
5  Finfish and Shellfish Products                73.254417
6     Sausages and Luncheon meats                71.859060
7                      Fast Foods                52.231214

### 6. Sources providing more than X amount of food to database

I want to find out which sources are providing more than a given amount of food items to the database.

In [11]:
# Food sources providing more than 100 food items
query = """
SELECT fs.FoodSourceDescription as 'Source', COUNT(*) as 'Food items'
FROM food_source fs
JOIN food_name fn
ON fs.FoodSourceId = fn.FoodSourceId
GROUP BY fs.FoodSourceId
HAVING COUNT(*) > 100
ORDER BY COUNT(*) DESC;
"""

pd.read_sql_query(query, connection)

                                              Source  Food items
0          FOODS BASED ON DATA FROM USDA: NO CHANGES        3555
1       CNF Sampling and Analysis Program (SNAP-CAN)         658
2  FOOD BASED ON DATA FROM USDA: SOME NUTRIENTS A...         356
3  FOOD AVAILABLE IN THE CANADIAN FOOD SUPPLY, MA...         267
4                                   TRADITIONAL FOOD         212
5  FOOD BASED ON DATA FROM USDA: INFORMATION FROM...         139
6  FOOD AVAILABLE IN THE CANADIAN FOOD SUPPLY, BU...         123
7                             CNF RECIPE COMPILATION         112
8  FOOD BASED ON DATA FROM USDA: SOME NUTRIENTS C...         103

## ARITHMETHIC OPERATORS

### 7. % of recommended daily intake

I want to know what % of the recommended daily intake the food groups fulfill for a given nutrient.

For the example, I'll use a 20 years old female. The recommended daily intake data source is the australian government:

[Female, 20 years old - recommended daily intake](https://www.eatforhealth.gov.au/node/1813927/done?sid=812350&token=57cde3dc19d19f3e4b59f8cf88757c13)

In [12]:
# Let's see what percentage of the recommended protein daily intake the different food groups fulfill
# For a 20 years old woman, this value is 46g/day
query = """
SELECT fg.FoodGroupName as 'Food group', (AVG(na.NutrientValue) / 46) * 100 as '% of the recommended daily intake'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodId
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'PROTEIN'
GROUP BY fg.FoodGroupId
ORDER BY (AVG(na.NutrientValue) / 46) * 100 DESC;
"""

pd.read_sql_query(query, connection)

                           Food group  % of the recommended daily intake
0                       Beef Products                          55.256138
1                    Poultry Products                          52.236478
2                 Lamb, Veal and Game                          50.725296
3                       Pork Products                          49.267839
4      Finfish and Shellfish Products                          46.226421
5         Sausages and Luncheon meats                          35.448351
6         Legumes and Legume Products                          34.066257
7                      Nuts and Seeds                          33.575852
8              Dairy and Egg Products                          27.414848
9                          Fast Foods                          24.308971
10                   Spices and Herbs                          21.960663
11                             Snacks                          20.518934
12          Cereals, Grains and Pasta                          20.125245
13                  Breakfast cereals                          19.090033
14                       Mixed Dishes                          17.769353
15                     Baked Products                          15.749778
16                          Babyfoods                          12.657031
17          Soups, Sauces and Gravies                           8.427211
18                             Sweets                           8.194512
19                          Beverages                           6.727500
20  Vegetables and Vegetable Products                           6.459153
21            Fruits and fruit juices                           1.952810
22                      Fats and Oils                           1.095562

In [13]:
# Now let's do the same but for Vitamin C
# For a 20 years old woman, this value is 45mg/day

query = """
SELECT fg.FoodGroupName as 'Food group', (AVG(na.NutrientValue) / 45) * 100 as '% of the recommended daily intake'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodId
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'VITAMIN C'
GROUP BY fg.FoodGroupId
ORDER BY (AVG(na.NutrientValue) / 45) * 100 DESC;
"""

pd.read_sql_query(query, connection)

                           Food group  % of the recommended daily intake
0             Fruits and fruit juices                          71.029928
1                    Spices and Herbs                          69.495591
2   Vegetables and Vegetable Products                          60.105398
3                           Beverages                          39.569387
4                              Snacks                          16.927536
5                      Nuts and Seeds                          12.071942
6                           Babyfoods                           9.449173
7                        Mixed Dishes                           8.629630
8                 Lamb, Veal and Game                           6.384042
9           Soups, Sauces and Gravies                           5.283208
10        Sausages and Luncheon meats                           5.214019
11                             Sweets                           5.078163
12                         Fast Foods                           4.232498
13                      Beef Products                           4.044444
14                      Pork Products                           3.182692
15     Finfish and Shellfish Products                           2.901365
16             Dairy and Egg Products                           2.810512
17                   Poultry Products                           2.235707
18        Legumes and Legume Products                           1.965066
19          Cereals, Grains and Pasta                           1.722983
20                     Baked Products                           0.836571
21                  Breakfast cereals                           0.825243
22                      Fats and Oils                           0.812150

## NESTED QUERIES

### 8. Foods from specific food sources

I want to find out which foods come from which sources.

As before, I'm just going to do one example, as the rest would the same but changing names.

In [14]:
# I'll just pick any source:
# "FOOD BASED ON DATA FROM USDA: INFORMATION FROM USDA SURVEY FILES"
query = """
SELECT fn.FoodDescription as 'Food', fg.FoodGroupName as 'Food Group'
FROM food_name fn
JOIN food_group fg
ON fn.FoodGroupId = fg.FoodGroupId
WHERE FoodSourceId IN (
    SELECT FoodSourceId
    FROM food_source
    WHERE FoodSourceDescription = 'FOOD BASED ON DATA FROM USDA: INFORMATION FROM USDA SURVEY FILES'
);
"""

pd.read_sql_query(query, connection)

                                                  Food              Food Group
0                   Alcohol, cocktail, scotch and soda               Beverages
1                            Sweets, syrups, grenadine                  Sweets
2    Drink, fruit flavour, powder, low calorie, vit...               Beverages
3    Salad dressing, creamy, made with sour cream a...           Fats and Oils
4          Cheese, cheddar, imitation, low cholesterol  Dairy and Egg Products
..                                                 ...                     ...
134  Dessert, frozen, ice cream, vanilla, light, no...                  Sweets
135  Dessert, frozen yogourt, chocolate, skim milk,...                  Sweets
136                     Dessert, frozen, juice, orange                  Sweets
137                  Dessert, frozen, juice with cream                  Sweets
138        Dessert, frozen, ice cream, chocolate, rich                  Sweets

[139 rows x 2 columns]

### 9. Top foods by nutrient excluding food groups

I want to find out which foods are rich in a given nutrient excluding given food groups.

In [15]:
# I want to see the top protein foods
# Excluding Beef products

query = """
SELECT fn.FoodDescription as 'Food', fg.FoodGroupName as 'Food Group', na.NutrientValue as 'Nutrient Amount'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodId
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'PROTEIN'
AND fg.FoodGroupId NOT IN (
    SELECT FoodGroupId
    FROM food_group
    WHERE FoodGroupName = 'Beef Products'
)
ORDER BY na.NutrientValue DESC
LIMIT 30;
"""

pd.read_sql_query(query, connection)

,Food,Food Group,Nutrient Amount
0,"Sweets, gelatin, dry powder, unsweetened",Sweets,85.60
1,"Game meat, native, bearded seal, (oogruk), air...","Lamb, Veal and Game",82.60
2,"Egg, chicken, white, dried, powder, glucose re...",Dairy and Egg Products,82.40
3,"Egg, chicken, white, dried",Dairy and Egg Products,81.10
4,Soy protein isolate (prepared with sodium),Legumes and Legume Products,80.69
5,Soy protein isolate (prepared with potassium),Legumes and Legume Products,80.69
6,"Game meat, native, moose, dried","Lamb, Veal and Game",79.50
7,"Beverage, protein powder, whey based, powder",Beverages,78.13
8,"Fish, steelhead trout, meat, dried",Finfish and Shellfish Products,77.27
9,"Game meat, native, narwhal, meat, dried","Lamb, Veal and Game",77.00
10,"Egg, chicken, white, pan dried, flakes",Dairy and Egg Products,76.92
11,"Wheat, vital wheat gluten","Cereals, Grains and Pasta",75.16
12,"Game meat, native, beluga, meat, dried","Lamb, Veal and Game",72.00
13,"Fish, arctic char, native, meat and skin, dried",Finfish and Shellfish Products,69.00
14,"Fish, whitefish, native, smoked, dried",Finfish and Shellfish Products,67.00
15,"Fish, cod (scrod), atlantic, dried and salted",Finfish and Shellfish Products,62.82
16,"Game meat, native, caribou (reindeer), meat, d...","Lamb, Veal and Game",62.00
17,"Snacks, pork skins, plain",Snacks,61.30
18,"Fish, salmon, red (sockeye), native, filets wi...",Finfish and Shellfish Products,60.62
19,"Fish, herring eggs, native, Pacific, dry",Finfish and Shellfish Products,60.40
20,"Beverage, whey protein isolate, powder",Beverages,58.14
21,Soy protein concentrate (prepared with alcohol),Legumes and Legume Products,58.13
22,Soy protein concentrate (prepared with acid an...,Legumes and Legume Products,58.13
23,"Fish, cisco (lake herring, tullibee), native, ...",Finfish and Shellfish Products,58.00
24,"Snacks, pork skins, barbecue",Snacks,57.90
25,"Seaweed, spirulina, dried",Vegetables and Vegetable Products,57.47
26,"Fish, inconnu, native, smoked, dried",Finfish and Shellfish Products,57.00
27,"Game meat, native, walrus, dry","Lamb, Veal and Game",57.00
28,"Fish, smelt, dried",Finfish and Shellfish Products,56.19
29,"Plant-based beverage, protein powder, soy base...",Beverages,55.56

In [16]:
# Now let's do the same but exluding also Poultry Products

query = """
SELECT fn.FoodDescription as 'Food', fg.FoodGroupName as 'Food Group', na.NutrientValue as 'Nutrient Amount'
FROM food_group fg
JOIN food_name fn, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = fn.FoodGroupId
AND fn.FoodId = na.FoodId
AND na.NutrientId = nn.NutrientId
WHERE nn.NutrientName = 'PROTEIN'
AND fg.FoodGroupId NOT IN (
    SELECT FoodGroupId
    FROM food_group
    WHERE FoodGroupName = 'Beef Products'
    OR FoodGroupName = 'Poultry Products'
)
ORDER BY na.NutrientValue DESC
LIMIT 30;
"""

pd.read_sql_query(query, connection)

,Food,Food Group,Nutrient Amount
0,"Sweets, gelatin, dry powder, unsweetened",Sweets,85.60
1,"Game meat, native, bearded seal, (oogruk), air...","Lamb, Veal and Game",82.60
2,"Egg, chicken, white, dried, powder, glucose re...",Dairy and Egg Products,82.40
3,"Egg, chicken, white, dried",Dairy and Egg Products,81.10
4,Soy protein isolate (prepared with sodium),Legumes and Legume Products,80.69
5,Soy protein isolate (prepared with potassium),Legumes and Legume Products,80.69
6,"Game meat, native, moose, dried","Lamb, Veal and Game",79.50
7,"Beverage, protein powder, whey based, powder",Beverages,78.13
8,"Fish, steelhead trout, meat, dried",Finfish and Shellfish Products,77.27
9,"Game meat, native, narwhal, meat, dried","Lamb, Veal and Game",77.00
10,"Egg, chicken, white, pan dried, flakes",Dairy and Egg Products,76.92
11,"Wheat, vital wheat gluten","Cereals, Grains and Pasta",75.16
12,"Game meat, native, beluga, meat, dried","Lamb, Veal and Game",72.00
13,"Fish, arctic char, native, meat and skin, dried",Finfish and Shellfish Products,69.00
14,"Fish, whitefish, native, smoked, dried",Finfish and Shellfish Products,67.00
15,"Fish, cod (scrod), atlantic, dried and salted",Finfish and Shellfish Products,62.82
16,"Game meat, native, caribou (reindeer), meat, d...","Lamb, Veal and Game",62.00
17,"Snacks, pork skins, plain",Snacks,61.30
18,"Fish, salmon, red (sockeye), native, filets wi...",Finfish and Shellfish Products,60.62
19,"Fish, herring eggs, native, Pacific, dry",Finfish and Shellfish Products,60.40
20,"Beverage, whey protein isolate, powder",Beverages,58.14
21,Soy protein concentrate (prepared with alcohol),Legumes and Legume Products,58.13
22,Soy protein concentrate (prepared with acid an...,Legumes and Legume Products,58.13
23,"Fish, cisco (lake herring, tullibee), native, ...",Finfish and Shellfish Products,58.00
24,"Snacks, pork skins, barbecue",Snacks,57.90
25,"Seaweed, spirulina, dried",Vegetables and Vegetable Products,57.47
26,"Fish, inconnu, native, smoked, dried",Finfish and Shellfish Products,57.00
27,"Game meat, native, walrus, dry","Lamb, Veal and Game",57.00
28,"Fish, smelt, dried",Finfish and Shellfish Products,56.19
29,"Plant-based beverage, protein powder, soy base...",Beverages,55.56