# SQL STATEMENTS ORDER

## Writing order
[Image source](https://sqlbolt.com/lesson/select_queries_order_of_execution)
<img src="documents/writing_order.png">

## Execution order
[Image source](https://learnsql.com/blog/sql-order-of-operations/)
<img src="documents/execution_order.png">

In [ ]:
query = """
SELECT f.FoodDescription, fg.FoodGroupName, ya.YieldAmount, yn.YieldDescription
FROM food_name f
JOIN food_group fg, yield_amount ya, yield_name yn
ON f.FoodGroupID = fg.FoodGroupId
AND f.FoodID = ya.FoodID
AND ya.YieldID = yn.YieldID
"""

pd.read_sql_query(query, connection)

In [ ]:
query = """
SELECT f.FoodDescription, fg.FoodGroupName, ya.YieldAmount, yn.YieldDescription
FROM food_name f
JOIN food_group fg, yield_amount ya, yield_name yn
ON f.FoodGroupID = fg.FoodGroupId
AND f.FoodID = ya.FoodID
AND ya.YieldID = yn.YieldID;
"""

pd.read_sql_query(query, connection)

In [ ]:
query = """
SELECT f.FoodDescription, cf.ConversionFactorValue, m.MeasureDescription
FROM food_name f
JOIN conversion_factor cf, measure_name m
ON f.FoodID = cf.FoodID
AND cf.MeasureID = m.MeasureID;
"""

pd.read_sql_query(query, connection)

In [ ]:
query = """
SELECT
fg.FoodGroupName, f.FoodDescription, nn.NutrientName, na.NutrientValue
FROM food_group fg
JOIN food_name f, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupId = f.FoodGroupId
AND f.FoodID = na.FoodID
AND na.NutrientID = nn.NutrientId;
"""

pd.read_sql_query(query, connection)

In [ ]:
# Top 20 foods by protein
query = """
SELECT DISTINCT f.FoodDescription, na.NutrientValue, nn.NutrientName
FROM food_name f
JOIN nutrient_amount na, nutrient_name nn
ON f.FoodID = na.FoodID
AND na.NutrientID = nn.NutrientID
WHERE nn.NutrientName = ?
ORDER BY na.NutrientValue DESC
LIMIT 20
"""

params = ("PROTEIN",)
pd.read_sql_query(query, connection, params = params)

In [ ]:
# Let's check the top protein food groups by average
query = """
SELECT fg.FoodGroupName as 'Food Group', nn.NutrientName as 'Nutrient', AVG(na.NutrientValue) as 'Group average'
FROM food_group fg
JOIN food_name f, nutrient_amount na, nutrient_name nn
ON fg.FoodGroupID = f.FoodGroupID
AND f.FoodID = na.FoodID
AND na.NutrientID = nn.NutrientID
WHERE nn.NutrientName = 'PROTEIN'
GROUP BY (fg.FoodGroupID)
ORDER BY AVG(na.NutrientValue) DESC
"""

pd.read_sql_query(query, connection)