In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow
from imblearn.over_sampling import SMOTE

import sys, os

# Helpers
abspath = os.path.abspath
dirname = os.path.dirname
sep = os.sep

# Update sys.path for in-house libraries
folder_ = dirname(abspath(os.getcwd()))
for i in range(1): folder_ = dirname(folder_)
sys.path.append(folder_)

# In-house libraries
import src.utils.mining_data_tb as md
import src.utils.visualization_tb as vi
import src.utils.folder_tb as fo
import src.utils.models as mo

In [14]:
path = fo.path_to_folder(2, "data" + sep + "environment")
resources = pd.read_csv(path + "resources.csv", index_col = 0)
resources.head(2)

,Total emissions,Land use per 1000kcal,Land use per kg,Land use per 100g protein,Freshwater withdrawls per 1000kcal,Freshwater withdrawls per kg,Freshwater withdrawls per 100g protein,Origin
Oatmeal,1.6,2.897446,7.6,5.846154,183.911552,482.4,371.076923,Plant-based
Rice,4.0,0.759631,2.8,3.943662,609.983722,2248.4,3166.760563,Plant-based

In [16]:
test = resources.copy()
test.iloc[0, :] = None
test.head(2)

,Total emissions,Land use per 1000kcal,Land use per kg,Land use per 100g protein,Freshwater withdrawls per 1000kcal,Freshwater withdrawls per kg,Freshwater withdrawls per 100g protein,Origin
Oatmeal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
Rice,4.0,0.759631,2.8,3.943662,609.983722,2248.4,3166.760563,Plant-based

In [12]:
resources.head(2)

,Total emissions,Land use per 1000kcal,Land use per kg,Land use per 100g protein,Freshwater withdrawls per 1000kcal,Freshwater withdrawls per kg,Freshwater withdrawls per 100g protein,Origin
Oatmeal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
Rice,4.0,0.759631,2.8,3.943662,609.983722,2248.4,3166.760563,Plant-based