In [1]:
import numpy as np
import pandas as pd

import sys, os

# Helpers
abspath = os.path.abspath
dirname = os.path.dirname
sep = os.sep

# Update sys.path for in-house libraries
folder_ = dirname(abspath(os.getcwd()))
for i in range(1): folder_ = dirname(folder_)
sys.path.append(folder_)

# In-house libraries
import src.utils.mining_data_tb as md
import src.utils.folder_tb as fo

In [2]:
# Path to data
production_data_path = fo.path_to_folder(2, "data" + sep + "environment")
# Load data
production_df = pd.read_csv(production_data_path + "food_production.csv")
production_df.head(2)

,Food product,Land use change,Animal Feed,Farm,Processing,Transport,Packging,Retail,Total_emissions,Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal),...,Freshwater withdrawals per 100g protein (liters per 100g protein),Freshwater withdrawals per kilogram (liters per kilogram),Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal),Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein),Land use per 1000kcal (m² per 1000kcal),Land use per kilogram (m² per kilogram),Land use per 100g protein (m² per 100g protein),Scarcity-weighted water use per kilogram (liters per kilogram),Scarcity-weighted water use per 100g protein (liters per 100g protein),Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)
0,Wheat & Rye (Bread),0.1,0.0,0.8,0.2,0.1,0.1,0.1,1.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Maize (Meal),0.3,0.0,0.5,0.1,0.1,0.1,0.0,1.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
production_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 23 columns):
 #   Column                                                                   Non-Null Count  Dtype
---  ------                                                                   --------------  -----
 0   Food product                                                             43 non-null     object
 1   Land use change                                                          43 non-null     float64
 2   Animal Feed                                                              43 non-null     float64
 3   Farm                                                                     43 non-null     float64
 4   Processing                                                               43 non-null     float64
 5   Transport                                                                43 non-null     float64
 6   Packging                                                                 43 non-null     float64
 7   Retail                                                                   43 non-null     float64
 8   Total_emissions                                                          43 non-null     float64
 9   Eutrophying emissions per 1000kcal (gPO₄eq per 1000kcal)                 33 non-null     float64
 10  Eutrophying emissions per kilogram (gPO₄eq per kilogram)                 38 non-null     float64
 11  Eutrophying emissions per 100g protein (gPO₄eq per 100 grams protein)    27 non-null     float64
 12  Freshwater withdrawals per 1000kcal (liters per 1000kcal)                30 non-null     float64
 13  Freshwater withdrawals per 100g protein (liters per 100g protein)        26 non-null     float64
 14  Freshwater withdrawals per kilogram (liters per kilogram)                38 non-null     float64
 15  Greenhouse gas emissions per 1000kcal (kgCO₂eq per 1000kcal)             33 non-null     float64
 16  Greenhouse gas emissions per 100g protein (kgCO₂eq per 100g protein)     27 non-null     float64
 17  Land use per 1000kcal (m² per 1000kcal)                                  33 non-null     float64
 18  Land use per kilogram (m² per kilogram)                                  38 non-null     float64
 19  Land use per 100g protein (m² per 100g protein)                          27 non-null     float64
 20  Scarcity-weighted water use per kilogram (liters per kilogram)           38 non-null     float64
 21  Scarcity-weighted water use per 100g protein (liters per 100g protein)   26 non-null     float64
 22  Scarcity-weighted water use per 1000kcal (liters per 1000 kilocalories)  30 non-null     float64
dtypes: float64(22), object(1)
memory usage: 7.9+ KB

In [4]:
# As we have some missing values in the data, we will try to get this information from other files

In [5]:
# The units are liters (l): https://ourworldindata.org/environmental-impacts-of-food?country=#water-use
resources_data_path = production_data_path + "resources_use" + sep

# Load data and drop the unnecessary columns
land_use_kcal = pd.read_csv(resources_data_path + "land-use-kcal-poore.csv").drop(["Code", "Year"], axis = 1)
land_use_kg = pd.read_csv(resources_data_path + "land-use-per-kg-poore.csv").drop(["Code", "Year"], axis = 1)
land_use_protein = pd.read_csv(resources_data_path + "land-use-protein-poore.csv").drop(["Code", "Year"], axis = 1)

# Merge all the data in one dataframe
land_use = pd.merge(land_use_kcal, land_use_kg, how = "outer", on = "Entity")
land_use = pd.merge(land_use, land_use_protein, how = "outer", on = "Entity")
land_use.columns = ["Entity", "Land use per 1000kcal", "Land use per kg", "Land use per 100g protein"]
land_use.head()

,Entity,Land use per 1000kcal,Land use per kg,Land use per 100g protein
0,Apples,1.312500,0.63,21.000000
1,Bananas,3.216667,1.93,21.444444
2,Barley,0.222000,1.11,NaN
3,Beef (beef herd),119.490842,326.21,163.595787
4,Beef (dairy herd),15.838828,43.24,21.904762

In [6]:
# The units are squared meters (m2): https://ourworldindata.org/environmental-impacts-of-food?country=#water-use

# Load data and drop the unnecessary columns
# We use the same path as before
water_use_kcal = pd.read_csv(resources_data_path + "freshwater-withdrawals-per-kcal.csv").drop(["Code", "Year"], axis = 1)
water_use_kg = pd.read_csv(resources_data_path + "freshwater-withdrawals-per-kg.csv").drop(["Code", "Year"], axis = 1)
water_use_protein = pd.read_csv(resources_data_path + "freshwater-withdrawals-per-protein.csv").drop(["Code", "Year"], axis = 1)

# Merge all the data in one dataframe
water_use = pd.merge(water_use_kcal, water_use_kg, how = "outer", on = "Entity")
water_use = pd.merge(water_use, water_use_protein, how = "outer", on = "Entity")
water_use.columns = ["Entity", "Freswater withdrawls per 1000kcal", "Freswater withdrawls per kg", "Freswater withdrawls per 100g protein"]
water_use.head()

,Entity,Freswater withdrawls per 1000kcal,Freswater withdrawls per kg,Freswater withdrawls per 100g protein
0,Apples,375.208333,180.1,6003.333333
1,Bananas,190.833333,114.5,1272.222222
2,Barley,3.420000,17.1,NaN
3,Beef (beef herd),531.575092,1451.2,727.783350
4,Beef (dairy herd),994.249084,2714.3,1375.025329

In [7]:
# We clean up a little bit the main df before merging
production_df = production_df.rename({"Food product" : "Entity", "Total_emissions" : "Total emissions"}, axis = 1)

# Now we merge everything together
resources = pd.merge(production_df, land_use, how = "outer", on = "Entity")
resources = pd.merge(resources, water_use, how = "outer", on = "Entity")

# Some cleaning and transformation
resources = resources.rename({"Entity" : "Food"}, axis = 1)
resources = resources.set_index("Food")
resources = resources.loc[:, ["Total emissions", 'Land use per 1000kcal', 'Land use per kg', 'Land use per 100g protein', 'Freswater withdrawls per 1000kcal', 'Freswater withdrawls per kg', 'Freswater withdrawls per 100g protein']]

resources.head()

,Total emissions,Land use per 1000kcal,Land use per kg,Land use per 100g protein,Freswater withdrawls per 1000kcal,Freswater withdrawls per kg,Freswater withdrawls per 100g protein
Food,,,,,,,
Wheat & Rye (Bread),1.4,NaN,NaN,NaN,NaN,NaN,NaN
Maize (Meal),1.1,NaN,NaN,NaN,NaN,NaN,NaN
Barley (Beer),1.1,NaN,NaN,NaN,NaN,NaN,NaN
Oatmeal,1.6,2.897446,7.6,5.846154,183.911552,482.4,371.076923
Rice,4.0,0.759631,2.8,3.943662,609.983722,2248.4,3166.760563

In [8]:
def combine_data(column1, column2, df):
    '''
    This function combines two foods' values in the resources data. For instancem "Tofu" and "Tofu (soybeans)", as they are the same food, and one has the missing values of the other.

    args :
    column1 -> Should be the name of the food1 in the dataframe
    column2 -> Should be the name of the food2 in the dataframe
    df -> dataframe we pull the data from according to the given names
    '''
    # To store the new values of combining both columns
    new_values = []

    # Iterate through the length of the column1 (both columns should have the same length)
    for i in range(len(df.loc[column1])):
        # If column1 is nan, return the value of the other column
        if np.isnan(df.loc[column1][i]):
            new_values.append(df.loc[column2][i])
        # else, keep the one from column 1
        else:
            new_values.append(df.loc[column1][i])

    # Join the values together with an index (should be the same for both columns)
    # and transpose it
    df = pd.DataFrame(new_values, index = df.loc[column1].index, columns = [column1 + "_"])
    return df.T

In [9]:
tofu = combine_data("Tofu", "Tofu (soybeans)", resources)
wheat = combine_data("Wheat & Rye", "Wheat & Rye (Bread)", resources)
maize = combine_data("Maize", "Maize (Meal)", resources)
barley = combine_data("Barley", "Barley (Beer)", resources)

resources = resources.append([tofu, wheat, maize, barley])
resources = resources.drop(["Tofu", "Tofu (soybeans)",
            "Wheat & Rye", "Wheat & Rye (Bread)",
            "Maize", "Maize (Meal)",
            "Barley", "Barley (Beer)",])

resources = resources.rename({'Tofu_': "Tofu", 'Wheat & Rye_': "Wheat & Rye", 'Maize_': "Maize",
       'Barley_': "Barley"})
resources.index

Index(['Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar',
       'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Soybean Oil',
       'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes',
       'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables',
       'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine',
       'Other Fruit', 'Coffee', 'Dark Chocolate', 'Beef (beef herd)',
       'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat', 'Poultry Meat',
       'Milk', 'Cheese', 'Eggs', 'Fish (farmed)', 'Shrimps (farmed)',
       'Prawns (farmed)', 'Grains', 'Tofu', 'Wheat & Rye', 'Maize', 'Barley'],
      dtype='object')

In [10]:
# Separate food products into two categories: plant-based and animal-based
plant_based = ['Oatmeal', 'Rice', 'Potatoes', 'Cassava', 'Cane Sugar', 'Beet Sugar',
       'Other Pulses', 'Peas', 'Nuts', 'Groundnuts', 'Soymilk', 'Soybean Oil',
       'Palm Oil', 'Sunflower Oil', 'Rapeseed Oil', 'Olive Oil', 'Tomatoes',
       'Onions & Leeks', 'Root Vegetables', 'Brassicas', 'Other Vegetables',
       'Citrus Fruit', 'Bananas', 'Apples', 'Berries & Grapes', 'Wine',
       'Other Fruit', 'Coffee', 'Dark Chocolate', 'Tofu', 'Wheat & Rye', 'Maize', 'Barley']

animal_based = ['Beef (beef herd)', 'Beef (dairy herd)', 'Lamb & Mutton', 'Pig Meat',
       'Poultry Meat', 'Milk', 'Cheese', 'Eggs', 'Fish (farmed)',
       'Shrimps (farmed)']

# Create a new column: origin
resources["Origin"] = None

# Replace the Nones in the new "Origin" column for the corresponding values, depending on the procedence
resources.loc[plant_based, "Origin"] = "Plant-based"
resources.loc[animal_based, "Origin"] = "Animal-based"

In [11]:
resources

,Total emissions,Land use per 1000kcal,Land use per kg,Land use per 100g protein,Freswater withdrawls per 1000kcal,Freswater withdrawls per kg,Freswater withdrawls per 100g protein,Origin
Oatmeal,1.6,2.897446,7.60,5.846154,183.911552,482.4,371.076923,Plant-based
Rice,4.0,0.759631,2.80,3.943662,609.983722,2248.4,3166.760563,Plant-based
Potatoes,0.3,1.202186,0.88,5.176471,80.737705,59.1,347.647059,Plant-based
Cassava,0.9,1.858316,1.81,20.111111,NaN,0.0,NaN,Plant-based
Cane Sugar,2.6,0.581197,2.04,NaN,176.666667,620.1,NaN,Plant-based
Beet Sugar,1.4,0.521368,1.83,NaN,62.022792,217.7,NaN,Plant-based
Other Pulses,1.6,4.565982,15.57,7.272303,NaN,435.7,203.503036,Plant-based
Peas,0.8,2.156069,7.46,3.357336,NaN,396.6,178.487849,Plant-based
Nuts,0.2,2.107317,12.96,7.936314,672.162602,4133.8,2531.414574,Plant-based
Groundnuts,2.4,1.570690,9.11,3.479756,319.362069,1852.3,707.524828,Plant-based
Soymilk,1.0,NaN,0.66,NaN,NaN,27.8,NaN,Plant-based
Soybean Oil,6.0,NaN,10.52,NaN,NaN,414.6,NaN,Plant-based
Palm Oil,7.6,0.273756,2.42,NaN,0.723982,6.4,NaN,Plant-based
Sunflower Oil,3.5,1.997738,17.66,NaN,114.015837,1007.9,NaN,Plant-based
Rapeseed Oil,3.7,1.202489,10.63,NaN,26.889140,237.7,NaN,Plant-based
Olive Oil,6.0,2.976244,26.31,NaN,242.285068,2141.8,NaN,Plant-based
Tomatoes,1.4,4.210526,0.80,7.272727,1946.315789,369.8,3361.818182,Plant-based
Onions & Leeks,0.3,1.054054,0.39,3.000000,38.648649,14.3,110.000000,Plant-based
Root Vegetables,0.3,0.891892,0.33,3.300000,76.756757,28.4,284.000000,Plant-based
Brassicas,0.4,3.235294,0.55,5.000000,702.352941,119.4,1085.454545,Plant-based
Other Vegetables,0.5,NaN,0.38,NaN,NaN,102.5,NaN,Plant-based
Citrus Fruit,0.3,2.687500,0.86,14.333333,258.437500,82.7,1378.333333,Plant-based
Bananas,0.8,3.216667,1.93,21.444444,190.833333,114.5,1272.222222,Plant-based
Apples,0.3,1.312500,0.63,21.000000,375.208333,180.1,6003.333333,Plant-based
Berries & Grapes,1.1,4.228070,2.41,24.100000,736.140351,419.6,4196.000000,Plant-based
Wine,1.4,NaN,1.78,NaN,NaN,78.9,NaN,Plant-based
Other Fruit,0.7,NaN,0.89,NaN,NaN,153.5,NaN,Plant-based
Coffee,16.5,38.607143,21.62,27.025000,46.250000,25.9,32.375000,Plant-based
Dark Chocolate,18.7,13.338491,68.96,137.920000,104.564797,540.6,1081.200000,Plant-based
Beef (beef herd),59.6,119.490842,326.21,163.595787,531.575092,1451.2,727.783350,Animal-based
Beef (dairy herd),21.1,15.838828,43.24,21.904762,994.249084,2714.3,1375.025329,Animal-based
Lamb & Mutton,24.5,116.659306,369.81,184.812594,568.706625,1802.8,900.949525,Animal-based
Pig Meat,7.2,7.263598,17.36,10.729295,751.380753,1795.8,1109.888752,Animal-based
Poultry Meat,6.1,6.605405,12.22,7.055427,356.756757,660.0,381.062356,Animal-based
Milk,2.8,14.916667,8.95,27.121212,1047.000000,628.2,1903.636364,Animal-based
Cheese,21.2,22.684755,87.79,39.759964,1448.372093,5605.2,2538.586957,Animal-based
Eggs,4.5,4.354167,6.27,5.650685,401.180556,577.7,520.638068,Animal-based
Fish (farmed),5.1,4.698324,8.41,3.687788,2062.178771,3691.3,1618.636264,Animal-based
Shrimps (farmed),11.8,NaN,NaN,NaN,NaN,NaN,NaN,Animal-based
Prawns (farmed),NaN,2.883495,2.97,2.010833,3413.009709,3515.4,2380.094787,None
Grains,NaN,NaN,NaN,4.600000,NaN,NaN,NaN,None
Tofu,3.0,1.298893,3.52,2.200000,54.833948,148.6,92.875000,Plant-based
Wheat & Rye,1.4,1.439075,3.85,3.155738,242.026217,647.5,530.737705,Plant-based
Maize,1.1,0.650083,2.94,3.094737,47.694859,215.7,227.052632,Plant-based
Barley,1.1,0.222000,1.11,NaN,3.420000,17.1,NaN,Plant-based

In [12]:
# Let's save the cleaned dataframe
#resources.to_csv(production_data_path + "resources.csv")

In [22]:
def color_mapper(df):
    color_map = {}

    for ind, row in df.iterrows():
        if row["Origin"] == "Plant-based":
            color_map[ind] = "blue"
        else:
            color_map[ind] = "red"

    return color_map

In [23]:
color_mapper(resources)

{'Oatmeal': 'blue',
 'Rice': 'blue',
 'Potatoes': 'blue',
 'Cassava': 'blue',
 'Cane Sugar': 'blue',
 'Beet Sugar': 'blue',
 'Other Pulses': 'blue',
 'Peas': 'blue',
 'Nuts': 'blue',
 'Groundnuts': 'blue',
 'Soymilk': 'blue',
 'Soybean Oil': 'blue',
 'Palm Oil': 'blue',
 'Sunflower Oil': 'blue',
 'Rapeseed Oil': 'blue',
 'Olive Oil': 'blue',
 'Tomatoes': 'blue',
 'Onions & Leeks': 'blue',
 'Root Vegetables': 'blue',
 'Brassicas': 'blue',
 'Other Vegetables': 'blue',
 'Citrus Fruit': 'blue',
 'Bananas': 'blue',
 'Apples': 'blue',
 'Berries & Grapes': 'blue',
 'Wine': 'blue',
 'Other Fruit': 'blue',
 'Coffee': 'blue',
 'Dark Chocolate': 'blue',
 'Beef (beef herd)': 'red',
 'Beef (dairy herd)': 'red',
 'Lamb & Mutton': 'red',
 'Pig Meat': 'red',
 'Poultry Meat': 'red',
 'Milk': 'red',
 'Cheese': 'red',
 'Eggs': 'red',
 'Fish (farmed)': 'red',
 'Shrimps (farmed)': 'red',
 'Prawns (farmed)': 'red',
 'Grains': 'red',
 'Tofu': 'blue',
 'Wheat & Rye': 'blue',
 'Maize': 'blue',
 'Barley': 'blue'}